/* banner.css */
.banner-container {
  position: relative;
  width: 90%;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px auto;
  background-size: cover; /* Utilisez 'cover' pour ajuster l'image à la taille de la bannière */
  background-position: center; /* Affiche la partie supérieure de l'image */
  margin-bottom: 30px !important;
}



.banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.42);
}


.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 36px; /* Taille du titre réduite */
  font-weight: bold;
  margin-bottom: 10px; /* Espace entre le titre et le paragraphe */
  color: #FFF; /* Couleur du texte */
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Ombre du texte */
  font-family: Montserrat;
  font-style: normal;
  line-height: 1; /* Espacement des lignes */
}

.banner-text p {
  font-size: 14px; /* Taille du paragraphe */
}


@media (max-width: 680px) {
  .banner-container {
    height: 135px; /* Réduire la hauteur de la bannière pour les appareils mobiles */
    margin-bottom: 25px !important;
  }

  .banner-text {
    left: 40%; /* Décaler le texte vers la gauche */
    text-align: left; /* Aligner le texte à gauche */
  }

  .banner-text h1 {
    font-size: 18px; /* Réduire la taille du titre pour le format mobile */
  }

  .banner-text p {
    display: none; /* Masquer le paragraphe sur les appareils mobiles */
  }
}


