/* collapse.css */

.collapse-container {
    cursor: pointer;
    margin-bottom: 10px;
    width: 80%; /* Largeur de 80% de la largeur de la fenêtre */
    max-width: 900px; /* Largeur maximale par défaut */
    align-items: center;
    margin: 0 auto; 
    padding: 10px;
}

.collapse-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FF6060;
    border-radius: 5px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%; 
    height: 25px;
}

.collapse-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease; /* Ajout de la transition */
}

.collapse-content {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.rotate-up {
    transform: rotate(180deg); /* Rotation vers le haut */
}

.rotate-down {
    transform: rotate(0deg); /* Rotation vers le bas */
}

.equipment {
    display: flex !important;
    flex-wrap: wrap !important;
    margin: 2px !important;
}

